$icomoon-font-family: "ivaap" !default;
$icomoon-font-path: "fonts" !default;

$icon-alert-circle: "\e901";
$icon-alert-octagon: "\e902";
$icon-alert-triangle: "\e903";
$icon-arrow-down: "\e90b";
$icon-arrow-down-circle: "\e90c";
$icon-arrow-left: "\e90f";
$icon-arrow-left-circle: "\e910";
$icon-arrow-right: "\e911";
$icon-arrow-right-circle: "\e912";
$icon-arrow-up: "\e913";
$icon-arrow-up-circle: "\e914";
$icon-check: "\e92a";
$icon-check-circle: "\e92b";
$icon-check-square: "\e92c";
$icon-chevron-down: "\e92d";
$icon-chevron-left: "\e92e";
$icon-chevron-right: "\e92f";
$icon-chevron-up: "\e930";
$icon-chevrons-down: "\e931";
$icon-chevrons-left: "\e932";
$icon-chevrons-right: "\e933";
$icon-chevrons-up: "\e934";
$icon-circle: "\e936";
$icon-file: "\e961";
$icon-file-text: "\e964";
$icon-folder: "\e968";
$icon-help-circle: "\e978";
$icon-info: "\e97c";
$icon-list: "\e985";
$icon-loader: "\e986";
$icon-menu: "\e98f";
$icon-minus: "\e996";
$icon-minus-square: "\e998";
$icon-more-horizontal: "\e99b";
$icon-more-vertical: "\e99c";
$icon-plus: "\e9b1";
$icon-plus-square: "\e9b3";
$icon-save: "\e9bf";
$icon-settings: "\e9c4";
$icon-slash: "\e9d1";
$icon-square: "\e9d5";
$icon-x: "\ea03";
$icon-zoom-in: "\ea09";
$icon-zoom-out: "\ea0a";

