@use "core" as Core;
@use "icons" as Icons;
@use "colors" as Colors;
$border-to-content:16px;

.ivaap-panel{
  @include Core.flex--ver;
  border-color: inherit;
  min-height:100px;
}
.ivaap-panel__header{
  @include Core.flex--hor;
  @include Core.flex-align__container-cross-axis;
  @include Colors.container-bold("surface");
  //background:lightgrey;
  position: relative;
  height: 56px;
  //padding: 0px 15px;
}
.ivaap-panel__header-icon{
  padding:8px;
  padding-right:0px;
}

.ivaap-panel__left-header{
  @include Core.flex--hor;
  @include Core.flex-item--scaled;
  @include Core.flex-align__container-cross-axis;
  margin-left:8px;
}
.ivaap-panel__right-actions{
  @include Core.flex--hor;
  @include Core.flex-align__container-cross-axis;
}
.ivaap-panel__title{
  @include Core.flex--ver;
  @include Core.flex-align__container-main-axis;
  padding:8px;

}
.ivaap-panel__title-dropdown{
  padding-left:0px;
}
.ivaap-panel__header-close-btn {
  //padding-right: 0px;
  font-size: 15px;
  margin-right:8px;
}
.ivaap-panel__title-text{
  //@include flex-item--scaled;
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.ivaap-panel__title-desc{
  //@include flex-item--scaled;
  font-size: 9px;
  opacity: 0.6;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ivaap-panel__body{
  @include Core.flex-item--scaled;
}
.ivaap-panel__footer{
  @include Core.flex--hor;
  @include Core.flex-align__container-main-axis;
  @include Core.flex-align__container-cross-axis;
  position: relative;
  //height: 56px;
  padding: 15px;

}
.ivaap-panel__footer-btn{
  margin:0px 4px;
}
.ivaap-panel__close-icon{
  @include Icons.icon("cross");

}
