@use "core" as Core;
@use "colors" as Colors;

.mui-split-container{
  overflow:hidden;
}

.mui-v-container{
  @include  Core.flex--ver;
}
.mui-h-container{
  @include  Core.flex--hor;
}
.mui-split-container__main{
  @include  Core.flex-item--scaled;
  order:1;
  position:relative;

}
.mui-split-container__sub{
  position:relative;
  order:0;
}

.mui-split-container__sub--anim
{
  -webkit-transition: margin 200ms; /* Safari */
  transition: margin 200ms;
}

.mui-split-container__sub--west,
.mui-split-container__sub--south{
  order:2;
}

.mui-resizable{
  position:relative;
  //background:lightgrey;
}
.mui-resizable__resizer{
  position: absolute;
  z-index: 1;
  &:hover{
    @include Colors.background-hover("accent");
  }
}
.mui-resizable__north-resizer{
  top:-2px;
  left:0px;
  right:0px;
  height:4px;
  cursor: n-resize;
}
.mui-resizable__south-resizer{
  bottom:-2px;
  left:0px;
  right:0px;
  height:4px;
  cursor: n-resize;
}
.mui-resizable__west-resizer{
  right:-2px;
  top:0px;
  bottom:0px;
  width:4px;
  cursor: w-resize;
}
.mui-resizable__east-resizer{
  left:-2px;
  top:0px;
  bottom:0px;
  width:4px;
  cursor: w-resize;
}
