@use "core" as Core;
@use "colors" as Colors;
@use "button" as Button;

.mui-tab{
  @include Core.flex--ver;
}
.mui-tab__header{
  @include Core.flex--hor;
}
.mui-tab__items-container{
  @include Core.flex-item--scaled;
  @include Core.flex--hor;
  padding:0px 8px;
}
.mui-tab__left-header-container{
  @include Core.flex--hor;
  @include Core.flex-align__container-cross-axis;
}
.mui-tab__right-header-container{
  @include Core.flex--hor;
  @include Core.flex-align__container-cross-axis;
}

.mui-tab__header-item{
  position: relative;
  @include Button.mui-button;
  @include Button.button--square;
  padding:16px 8px;
}

.mui-tab__header-item--active{
  &:before {
    content:"";
    bottom:0px;
    left:0px;
    right:0px;
    position:absolute;
    border-bottom: 2px solid Colors.color("accent");
  }
  //@include Core.active-container("accent");
  @include Colors.text("accent");

}
.mui-tab__items-container--stretch > .mui-tab__header-item{
  @include Core.flex-item--scaled;

}
.mui-tab__body{
  @include Core.flex-item--scaled;

}
